body {
    background: lightgrey;
}

h1 {
    text-align: center;
}

.cell {
    border: 1px solid rgba(34, 35, 34, 0.32);
    width: 35px;
    height: 35px;
    background: white;
}

.apple {
    background: url("images/Apple.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.speedUp {
    background: url("images/Speed.png");
    background-repeat: no-repeat;
    background-size: contain;}

.slowDown {
    background: url("images/Bomb.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.snake {
    background: #1bcc47;
}

.head {
    background: #15ff66;
}

table {
    margin: auto;
}